{{template "header.html" .}}

<header class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>セキュリティ対策 WEB</h1>
        </div>
    </div>
</header>

<div class="container">
    <a href="http://localhost:8000/enter?url=/home" class="btn btn-primary">ホーム画面へ</a>
    <a href="http://localhost:8000/enter?url=/preview" class="btn btn-primary">アカウント閲覧画面へ</a>
    <a href="http://localhost:8000/enter?url=/product" class="btn btn-primary">商品一覧画面へ</a>
</div>

{{template "footer.html" .}}